<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.developer.rrd_projects"
        android:versionCode="1"
        android:versionName="1.0.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:orientation="horizontal"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:screenOrientation="userLandscape"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:uiOptions="none"
            tools:ignore="GoogleAppIndexingWarning">

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-9050823804847454~4025869179" />

        <activity android:name=".Reclam"
                android:screenOrientation="userLandscape"/>

        <activity android:name=".games.GamesActivity" />

        <activity android:name=".MyGameActivity"
                android:screenOrientation="userLandscape"/>

        <activity
                android:name=".games.anagramsGame.AnagramGame"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".games.colorsGame.ColorsGame"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".games.sortGame.SortGame"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".games.lampsGame.LampsGame"
                android:screenOrientation="userLandscape" />



        <activity
                android:name=".PremShow"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".games.end_game_screen.EndGameScreen"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".Attention"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".games.fNGame.FindNumGame"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".Games"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".StatisticsController"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".Settings"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".NameChooser"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".Icons"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".ProfileActivity"
                android:screenOrientation="userLandscape" />
        <activity
                android:name=".MainActivity"
                android:screenOrientation="userLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationReceiver"
                />

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
    </application>

</manifest>